.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache
/tests
.phpunit.cache
composer.phar
.DS_Store
Thumbs.db
*.log
*.md
!README.md
docker-compose.yml
compose.yaml
docker-compose.prod.yml
Dockerfile
.dockerignore
